<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165809487820-eh09tj80uq3u708d4as5ces768epdqet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165809487820-eh09tj80uq3u708d4as5ces768epdqet</string>
	<key>API_KEY</key>
	<string>AIzaSyATgZU-0efhzk6YgBgXGicc7sqYoNGIEE4</string>
	<key>GCM_SENDER_ID</key>
	<string>165809487820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sanyam.dscConnect</string>
	<key>PROJECT_ID</key>
	<string>dsc-connect-6f139</string>
	<key>STORAGE_BUCKET</key>
	<string>dsc-connect-6f139.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165809487820:ios:754b14e9ff04c91f3d6769</string>
</dict>
</plist>